extend ../base

block variable
  - var template = 'details'

block content
  .details
    .details__wrapper
      figure.details__media
        img.details__media__image(src=product.data.image.url alt=product.data.image.alt)

      .details__information
        p.details__information__collection=product.data.collection.data.title
        p.details__information__title=product.data.title

      .details__information__content
        each highlight in product.data.highlight
          p.details__information__highlight
            svg.details__information__highlight__icon
              use(href=`sprite-${highlight.icon}`)
            span.details__information__highlight__text=highlight.text

        .details__information__list
          each info in product.data.info
            p.details__information__item
              strong.details__information__item__title=info.information_title
              span.details__information__item__description=info.information_description
        each element in product.data.shop
          a.details__information__link(href=element.shop_url.url target='_blank')=element.text
